body {
    background: linear-gradient(
    180deg, 
    #fcfeea 85%, 
    #2d6a4f 15%) !important
}
.nome_reciclador {
    font-weight: bold;
    font-size: 30px;
}
#nome_reciclador_input {
    width: 250px;
    margin-left: 10px;
    padding: 10px;
}
.coletas_disponiveis {
    font-weight: bold;
    font-size: 30px;
}
.container_reciclador {
    margin-top: 100px;
    margin-left: 30px;
}
.nome_reciclador, .nome_reciclador_input {
    display:inline-block;
    
}
.reciclador {
    width:400px;
    height:auto;
    position: fixed;
    bottom:0;
    right:0;
    z-index:1000;
    margin-right: 30px;
}
#botao_aceitar_coleta {
    width:130px;
    height:60px;
    color:white;
    background-color: orangered;
    border:none;
    border-radius: 10%;
    margin-left: 500px;
    margin-top: 80px;
    cursor:pointer;
    font-size: 15px;
}
.reciclador_tit1 {
    margin-left: 30px;
}