body {background: linear-gradient(
    180deg, 
    #f6fadd 85%, 
    #2d6a4f 15%
);
    
    /* Faz com que o fundo fique parado mesmo se a página rolar */
    background-attachment: fixed; }

.linha {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom:5px !important;
    margin-left: 40px;
}

.linha p {
    width:auto;
    margin: 0;
    font-weight: bold;;
}

.linha input {
    width: 30%;
    padding: 5px;
    border-radius: 5%;
}
#botao_enviar {
    background-color: rgb(255, 98, 0);
    border-radius: 5%;
    width:140px;
    height:45px;
    color:white;
    margin-left: 40px;
    margin-top:10px;
    border:none;
    cursor:pointer;
}
.familia {
    width: 600px;
    height:auto;
    position: fixed;
    bottom: 20px;
    right:20px;
}
.footer {
    /* --- A SOLUÇÃO ESTÁ AQUI --- */
    width: 100%;             /* 1. Força o rodapé a ocupar 100% da largura da tela */
    box-sizing: border-box;  /* 2. Garante que o padding não "estoure" a largura */
    
    text-align: center;      /* 3. Agora, este comando vai centralizar o texto corretamente */
    padding: 20px;
    font-size: 0.8em;
    color: #fffcfc;
}